@import "compass/css3";
@import "reset";
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Roboto);

html {
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	body {
		padding-top:30px;
		.wrapper {
			width:90%;
			margin:0 auto;
			display: flex;
			position:relative;
			.arrow {
				color:gray;
				text-decoration: none;
				font-size: 55px;
				z-index: 2;
				position:absolute;
				height:55px;
				line-height: 55px;
				top:40%;
				margin-top: -23px;
				cursor: pointer;
			}
			#btn_next {
				right:0;
			}
			#btn_prev {
				left:230px;
			}
			#visited {
				float:left;
				position:relative;
				&:before {
					content:" Voce visitou:";
					background-color: #ffffff; // Old browsers
					@include filter-gradient(#ffffff, #e5f1fb, vertical); // IE6-9
					@include background-image(linear-gradient(top,  #ffffff 0%,#e5f1fb 29%));
					width:100%;
					height:35px;
					position:absolute;
					line-height: 35px;
					color:#006699;
					font-weight: bolder;
					padding-left:10px;
				}
				.reference {
					border-right:1px solid #ccc;
					padding:10px;
					float: left;
					margin-top:35px;
				}
			}
			#recommended {
				float:left;
				overflow:hidden;
				position: relative;
				&:before {
					content: " e talvez se interesse por:";
					background-color: #ffffff; // Old browsers
					@include filter-gradient(#ffffff, #e5f1fb, vertical); // IE6-9
					@include background-image(linear-gradient(top,  #ffffff 0%,#e5f1fb 29%));
					width:100%;
					height:35px;
					position:absolute;
					line-height: 35px;
					color:#006699;
					font-weight: bolder;
					padding-left:10px;	
				}
				.recommendations {
					padding:10px;
					float: left;
					height:250px;
					overflow:hidden;
					margin-top:35px;
					.product:nth-child(1){
						margin-left:0!important;
					}
				}
			}	
		}
		
		.product {
			width:190px;
			float: left;
			margin:0 10px 10px;			
			&:hover {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cae5+0,ffffff+100 */
				background: #d7eaf9; /* Old browsers */
				background: -moz-linear-gradient(top,  #d7eaf9 0%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #d7eaf9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #d7eaf9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eaf9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				.itemName {
					text-decoration: underline;
				}
				img {
					border:2px solid #bdd0e0;
				}
			}
			a.detailUrl {
				color:$defaultColor;
				text-decoration: none;
				font-size: $font-size;
				float: left;
				height:auto;
				text-align: center;
				img {
					margin-top: 5px;
				}
				div {
					text-align: left;
				}
				.itemName {
					display: block;
					display: -webkit-box;
					height: $font-size*$line-height*$lines-to-show;
					margin: 0 auto;
					line-height: $line-height;
					-webkit-line-clamp: $lines-to-show;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					color:black;
				}
				.price {
					strong {
						font-size: 17px;
					}
				}
				.oldPrice {

				}
				.conditionsPayment {

				}
			}
		}	
	}
}